{% extends 'base.html' %}

{% block title %}
<title>About shop</title>
{% endblock %}

{% block body %}



<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-7 fw-normal text-center">Welcome to About page of Travel Tour Company!</h1>
    <p class="fs-5 text-muted text-center">Our company was established in 2023 in Helsinki, Finland.</p>
    <p class="fs-5 text-muted text-center">Main area of our business is to offer a customer best possible tour worldwide.</p>
    <p class="fs-5 text-muted text-center">Our company contact detailes: Työkatu 45, Helsinki, Finland.</p>
    <p class="fs-5 text-muted text-center">Tel number: +358-44-1234567</p>
    <p class="fs-5 text-muted text-center">E-mail address: traveltourcompany@gmail.com</p>
</div>



{% endblock %}
