{% extends 'base.html' %}

{% block title %}
<title>Online shop</title>
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-7 fw-normal">Welcome to online shop of Travel Tour Company!</h1>
    <p class="fs-5 text-muted">Here you may purchase tour packagies currently available.</p>
  </div>
</header>

<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Stockholm</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">300 euro</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Description</li>
            <li><a href="https://www.google.com/search?q=stockholm&sxsrf=AJOqlzX9l16m5Y74NZ7pzEIIrwLJChJEhQ:1675610723304&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjw18av2P78AhVRSfEDHTdXCBMQ_AUoAnoECAEQBA&biw=1920&bih=937&dpr=1">Picture</a></li>
            <li>3 days</li>
            <li>Hotel&Breakfast</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Order Tour</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Prague</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">500 euro</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Description</li>
            <li><a href="https://www.google.com/search?q=Prague&sxsrf=AJOqlzWNovp0joDbnED5Ptu1KkEIvbVRqw:1675610977450&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi4wd6o2f78AhXpXfEDHWv1AfcQ_AUoAXoECAEQAw&biw=1920&bih=937&dpr=1">Picture</a></li>
            <li>5 days</li>
            <li>Hotel&Breakfast</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Order Tour</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">London</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">700 euro</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Description</li>
            <li><a href="https://www.google.com/search?q=London&sxsrf=AJOqlzV3TfHtC_E6oTV2ufc_LZ6OSsDg7w:1675611171010&source=lnms&tbm=isch&sa=X&ved=2ahUKEwitvISF2v78AhVeSvEDHXDXDmYQ_AUoAXoECAEQAw&biw=1920&bih=937&dpr=1">Picture</a></li>
            <li>5 days</li>
            <li>Hotel&Breakfast</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Order Tour</button>
        </div>
      </div>
    </div>
  </div>


</main>
{% endblock %}


